.MineSweeper {
  background-color: #BDBDBD;

  border-right: 3px solid #7B7B7B;
  border-top: 3px solid white;
  border-bottom: 3px solid #7B7B7B;
  border-left: 3px solid white;

  padding: 12px;
  height: calc(256px + 32px + 23px);

  .Header {
    border-left: 3px solid #7B7B7B;
    border-bottom: 3px solid white;
    border-top: 3px solid #7B7B7B;
    border-right: 3px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 23px;
    padding: 4px 6px;
    width: calc(256px - 6px * 2);
  }
}